.landing-page {
  /* background-image: url("../../Assets/background.png"); */
  background-repeat: no-repeat;
  background-color: #262424;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
}
.hero {
  display: flex;
  width: 80%;
  margin: 2rem auto;
  /* justify-content: space-between; */
  align-items: flex-end;
  gap: 20px;
  flex: 1;
}
.left {
  font-size: 1.2rem;
  color: white;
  min-width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.left .intro {
  font-size: 1.7rem;
}
.left p span {
  color: #ffa621;
}
.left h2 {
  font-size: 1.8rem;
  letter-spacing: 2px;
  font-weight: bold;
}
.left p {
  line-height: 30px;
  letter-spacing: 1px;
}
.left .connect {
  color: #ffa621;
  margin: 1rem 0;
}
.left a {
  color: white;
  margin-right: 2rem;
}
/* .right {
  min-width: 50%;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
} */
.right img {
  transition: all ease-in 0.5s;
  transform: rotate(322deg);
  object-fit: contain;
  height: 300px;

}
.right img:hover {
  transform: rotate(358deg);
}
.socials i {
  font-size: 1.7rem;
}
@media screen and (max-width:1200px) {
  /* .landing-page{
    height: fit-content;
  }
  .hero{
    flex-direction: column;
    align-items: center;
    margin: 4rem auto;
  }
  .hero .left{
    order: 1;
    padding: 2rem 0;
  }
  .hero .right{
    order: 2;
    width: 100%;
    justify-content: center;
  }
  .right img{
    height: 300px;
    transform: none;
  } */
}
@media screen and (max-width:500px) {
  .landing-page{
    height: fit-content;
  }
  .hero{
     flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 4rem 10px;
  }
  .right img{
    height: 300px;
    transform: none;
  }
  .left p {
    font-size: 1rem;
  }
 
  .left h2{
    font-size: 1.2rem;
  }
}