.landing-page {
  height: calc(100vh - 120px);
  display: flex;
  width: 80%;
  margin: 2rem auto;
  align-items: flex-end;
}

.left {
  font-size: 1.2rem;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 10;
  flex: 1;
}
.left .title {
  font-size: 3rem;
  line-height: 55px;
  font-weight: 500;
}
.left .desc{
  font-size: 1.4rem;
  line-height: 35px;
  letter-spacing: 1.9px;
}
.left p span {
  color: #ffa621;
}
.left .subtitle {
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-weight: bold;
}

.left .connect {
  color: #ffa621;
  margin: 1rem 0;
}
.left a {
  color: white;
  margin-right: 2rem;
}
.right{
  overflow: hidden;
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.right img {
  transition: all ease-in 0.5s;
  /* transform: rotate(322deg); */
  object-fit: contain;
  height: 600px;
}

.socials i {
  font-size: 1.7rem;
}
@media screen and (max-width:1200px) {
  /* .landing-page{
    height: fit-content;
  }
  .hero{
    flex-direction: column;
    align-items: center;
    margin: 4rem auto;
  }
  .hero .left{
    order: 1;
    padding: 2rem 0;
  }
  .hero .right{
    order: 2;
    width: 100%;
    justify-content: center;
  }
  .right img{
    height: 300px;
    transform: none;
  } */
}
@media screen and (max-width:500px) {
  .landing-page{
    height: fit-content;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .right img{
    height: 300px;
    transform: none;
  }
  .left p {
    font-size: 1rem;
  }
 
  .left h2{
    font-size: 1.2rem;
  }
}