.project-wrapper {
  background-color: #201e1e;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.project-wrapper .box-container {
  margin: 0 3rem;
  padding: 3rem 0;
}
.project-wrapper .header {
  text-align: center;
  color: white;
  font-size: 2rem;
  margin-bottom: 2rem;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
.project-wrapper .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 3rem;
}

.project-wrapper .container .project {
  width: 300px;
  color: rgb(247, 242, 242);
  display: flex;
  padding: 0 1rem;
  flex-direction: column;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.17);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.08);
  text-align: left;
  gap: 1rem;
}
.project-wrapper .container .project h2 {
  color: rgb(247, 242, 242);
  text-align: left;
  font-size: 2rem;
  margin-top: 10px;
}
.project-wrapper .container .project img {
  object-fit: cover;
}
.project-wrapper .container .project ul {
  padding: 0;
  display: flex;
  gap: 1rem;
  list-style: none;
  font-weight: bold;
  color: #ffa621;
  font-size: 14px;
}

.project-wrapper .container .project button {
  padding: 10px 1rem;
  background-color: transparent;
  margin-right: 10px;
  cursor: pointer;
  color: white;
}
.project-wrapper .container .project button a {
  color: white;
  text-decoration: none;
}
.project-wrapper .container .project .btn .btn-left {
  border: 1px solid black;
}
.project-wrapper .container .project .btn .btn-right {
  border: 1px solid #ffa621;
}
