.project-wrapper {
  background-color: #201e1e;
}
.project-wrapper .box-container {
  background-color: #312b2a;
  padding: 3rem 0;
}
.project-wrapper h2 {
  text-align: center;
  color: white;
  font-size: 3rem;
  margin-bottom: 1rem;
}
.project-wrapper .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 3rem;
  width: 90%;
}
.project-wrapper .container .project {
  width: 300px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.project-wrapper .container .project img {
  width: 300px;
  object-fit: cover;
}
.project-wrapper .container .project ul {
  padding: 0;
}
.project-wrapper .container .project button {
  padding: 10px 1rem;
  background-color: white;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
}
