header {
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
}
nav {
  display: flex;
  color: white;
  align-items: center;
  padding: 10px 2rem;
}
.logo {
  flex-grow: 1;
}
.logo img {
  height: 50px;
}
nav ul {
  display: flex;
  list-style: none;
  gap: 2rem;
  font-size: 24px;
  padding: 0px 1rem;
}
ul li {
  cursor: pointer;
}
