header {
background-color: #262424;  
}
nav {
  display: flex;
  color: white;
  align-items: center;
  padding: 15px 2rem;
}
.logo {
  flex-grow: 1;
  font-family: 'Rubik Wet Paint', cursive;
  font-size: 2rem;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 2rem;
  font-size: 24px;
  padding: 0px 1rem;
}
ul li {
  cursor: pointer;
}
