.testimonial-wrapper {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1006%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(32%2c 30%2c 30%2c 1)'%3e%3c/rect%3e%3cpath d='M831 406L830 599' stroke-width='10' stroke='url(%23SvgjsLinearGradient1007)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M300 332L299 141' stroke-width='10' stroke='url(%23SvgjsLinearGradient1007)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M417 294L416 91' stroke-width='6' stroke='url(%23SvgjsLinearGradient1007)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M865 122L864 -23' stroke-width='6' stroke='url(%23SvgjsLinearGradient1007)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M599 239L598 600' stroke-width='8' stroke='url(%23SvgjsLinearGradient1008)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M980 17L979 -279' stroke-width='6' stroke='url(%23SvgjsLinearGradient1008)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M94 340L93 674' stroke-width='6' stroke='url(%23SvgjsLinearGradient1008)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1392 191L1391 -33' stroke-width='6' stroke='url(%23SvgjsLinearGradient1007)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M273 492L272 112' stroke-width='8' stroke='url(%23SvgjsLinearGradient1008)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M895 166L894 -119' stroke-width='6' stroke='url(%23SvgjsLinearGradient1008)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M338 408L337 669' stroke-width='10' stroke='url(%23SvgjsLinearGradient1007)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1380 255L1379 527' stroke-width='8' stroke='url(%23SvgjsLinearGradient1007)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M313 549L312 317' stroke-width='8' stroke='url(%23SvgjsLinearGradient1008)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M505 179L504 556' stroke-width='6' stroke='url(%23SvgjsLinearGradient1008)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M305 391L304 70' stroke-width='10' stroke='url(%23SvgjsLinearGradient1008)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1164 386L1163 29' stroke-width='6' stroke='url(%23SvgjsLinearGradient1008)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M736 456L735 720' stroke-width='8' stroke='url(%23SvgjsLinearGradient1008)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1154 288L1153 506' stroke-width='6' stroke='url(%23SvgjsLinearGradient1007)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M568 390L567 222' stroke-width='6' stroke='url(%23SvgjsLinearGradient1007)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1120 547L1119 963' stroke-width='8' stroke='url(%23SvgjsLinearGradient1008)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1081 216L1080 16' stroke-width='10' stroke='url(%23SvgjsLinearGradient1008)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1350 132L1349 -33' stroke-width='8' stroke='url(%23SvgjsLinearGradient1007)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M415 541L414 781' stroke-width='10' stroke='url(%23SvgjsLinearGradient1007)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M234 419L233 79' stroke-width='8' stroke='url(%23SvgjsLinearGradient1008)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M67 165L66 -150' stroke-width='10' stroke='url(%23SvgjsLinearGradient1008)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M586 196L585 -32' stroke-width='8' stroke='url(%23SvgjsLinearGradient1007)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M482 553L481 223' stroke-width='10' stroke='url(%23SvgjsLinearGradient1008)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M499 103L498 -88' stroke-width='10' stroke='url(%23SvgjsLinearGradient1008)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M592 410L591 232' stroke-width='8' stroke='url(%23SvgjsLinearGradient1007)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1261 264L1260 -117' stroke-width='10' stroke='url(%23SvgjsLinearGradient1008)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M379 438L378 48' stroke-width='6' stroke='url(%23SvgjsLinearGradient1007)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1156 435L1155 834' stroke-width='6' stroke='url(%23SvgjsLinearGradient1007)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1279 494L1278 193' stroke-width='6' stroke='url(%23SvgjsLinearGradient1008)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M425 294L424 584' stroke-width='8' stroke='url(%23SvgjsLinearGradient1007)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1049 223L1048 44' stroke-width='8' stroke='url(%23SvgjsLinearGradient1007)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M478 256L477 430' stroke-width='6' stroke='url(%23SvgjsLinearGradient1007)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1006'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='0%25' x2='0%25' y2='100%25' id='SvgjsLinearGradient1007'%3e%3cstop stop-color='rgba(28%2c 57%2c 89%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(28%2c 57%2c 89%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='0%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1008'%3e%3cstop stop-color='rgba(28%2c 57%2c 89%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(28%2c 57%2c 89%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  padding: 0 10rem;
  min-height: 40vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}
.testimonial-wrapper h2 {
  text-align: left;
  color: white;
  font-size: 2rem;
  margin-bottom: 2rem;
  padding: 1rem 0;
  font-family: 'Montserrat', sans-serif;
}
.header {
  background-color: transparent !important;
  color: white;
}
.header button {
  font-size: 1.1rem;
  font-weight: bold;
}
.iyoha::after {
  content: "Designer";
  display: block;
  font-size: 12px;
  font-weight: bold;
  font-style: italic;
}
.tayo::after {
  content: "backend engineer";
  display: block;
  font-size: 12px;
  font-weight: bold;
  font-style: italic;
}
.lekan::after {
  content: "Full-stack developer";
  display: block;
  font-size: 12px;
  font-weight: bold;
  font-style: italic;
}
.client::after {
  content: "Fiverr Client";
  display: block;
  font-size: 12px;
  font-weight: bold;
  font-style: italic;
}
.header .css-11yukd5-MuiTabs-indicator {
  background-color: #ffa621;
}
.content {
  color: white;
}
.testimonial-wrapper .content {
  width: 70%;
  margin: 30px auto;
  padding: 2rem;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 15px;
  box-shadow: 0px 14px 20px #191818;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.testimonial-wrapper .content .top {
  letter-spacing: 0.8px;
  font-size: 18px;
}
.testimonial-wrapper .content .top span {
  margin: 0 10px;
}
.testimonial-wrapper .content .bottom {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: #ffa621;
  font-weight: bold;
  font-style: italic;
}
.mobile_testimonial_wrapper {
  display: none;
  height: fit-content;
  padding: 20px;
  background-color: #201e1e;
  font-family: "Rubik Wet Paint", cursive;
}
.mobile_testimonial_wrapper .css-zjf1nq-MuiPaper-root,
.mobile_testimonial_wrapper .css-rh92k-MuiPaper-root-MuiMobileStepper-root {
  background-color: #201e1e;
}
.mobile_testimonial_wrapper .m_testimonial {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 15px;
  box-shadow: 0px 14px 20px #191818;
  height: fit-content;
  min-height: 300px;
  color: white;
  padding: 1rem;
  letter-spacing: 1.5px;
  line-height: 25px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
}
.mobile_testimonial_wrapper h2 {
  color: white;
  margin: 1rem 0;
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
.css-1x1xx5k{
  max-width: 100% !important;
}
.mobile_testimonial_wrapper .m_testimonial p:nth-child(1) {
  flex-grow: 1;
}
.mobile_testimonial_wrapper .m_testimonial p:nth-child(2),
.mobile_testimonial_wrapper .m_testimonial p:nth-child(3) {
  text-align: right;
  color: #ffa621;
}
@media screen and (max-width: 800px) {
  .testimonials {
    display: none;
  }
  .testimonial-wrapper {
    padding: 10px;
    display: none;
  }
  .mobile_testimonial_wrapper {
    display: block;
  }
}
