* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-family: "Roboto Flex", sans-serif;
  scroll-behavior: smooth;
}
body,
html,
#root {
  height: 100vh;
  width: 100vw;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1021%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(38%2c 36%2c 36%2c 1)'%3e%3c/rect%3e%3cpath d='M445.0318432166749 30.93805637755861L408.4619697132702-59.824500380261135 354.6306226403439 6.6516770525470506z' fill='rgba(33%2c 99%2c 159%2c 0.22)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M386.1 555.08 a134.33 134.33 0 1 0 268.66 0 a134.33 134.33 0 1 0 -268.66 0z' fill='rgba(33%2c 99%2c 159%2c 0.22)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M827.9790897844744 369.10474053146834L909.1975684368775 261.3241790159088 801.417006921318 180.10570036350555 720.1985282689147 287.88626187906516z' fill='rgba(33%2c 99%2c 159%2c 0.22)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M753.2967173984225 357.51430650423237L669.4736116144795 403.9782127611549 715.9375178714021 487.8013185450979 799.7606236553451 441.33741228817536z' fill='rgba(33%2c 99%2c 159%2c 0.22)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M134.849%2c195.974C177.562%2c197.179%2c222.882%2c183.431%2c243.519%2c146.015C263.657%2c109.503%2c246.519%2c66.947%2c226.052%2c30.619C205.065%2c-6.633%2c177.576%2c-45.275%2c134.849%2c-46.873C90.101%2c-48.546%2c51.887%2c-16.292%2c31.014%2c23.325C11.535%2c60.295%2c14.764%2c104.361%2c36.301%2c140.171C57.154%2c174.844%2c94.404%2c194.833%2c134.849%2c195.974' fill='rgba(33%2c 99%2c 159%2c 0.22)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1246.56 66.78 a137.16 137.16 0 1 0 274.32 0 a137.16 137.16 0 1 0 -274.32 0z' fill='rgba(33%2c 99%2c 159%2c 0.22)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1021'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
  background-color: #262424;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.main-wrapper {
  height: fit-content;
}
.main-wrapper section {
  padding: 1rem 2rem;
}
@media screen and (max-width: 700px) {
  body,
  html,
  #root {
    background-image: none;
  }
}
